

.me-gusta svg {
	margin-right: 10px;
	color: #e75151;
}

.logo{ 
    height: 35px;
    width: auto;
}

.gif{ 
    height: 25%;
     width: auto;     
}


.logoFormularios{ 
    height: 35px;
     width: auto;     
}
.what{ 
    height: 30px;
    width: auto;
}

.card-body h1,
li {
    color: #c73256;
    letter-spacing: 2px;
    font-size: 18px;
    font-size: bold;
}

.card-header h1 {
    color: #c73256;
}

.letrero {
    color: #fbfbfb;
    font-size: 220%;
    top: 30%
}

.letrero2 {
    color: #c73256;
    font-size: 200%;
    top: 37%;
}

.letrero3 {
    color: #c73256;
    font-size: 220%;
    top: 43%;
    letter-spacing: 1px;
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    text-shadow: 0 0 10px #000
}

.letrero,
.letrero1,
.letrero2,
.letrero3 {
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #000
}

.botonLetrero {
/*       background: #58B74E; */
    font-size: 100%;
    top: 53%;
    letter-spacing: 1px;
    position: absolute;
    width: 100%;
}

